// Color scheme
$white: #ffffff;
$yellow: #edc447;
$lightGray: #c1b9ad;
$lightGrayOpacity: rgba(193, 185, 173, 0.15);
$darkGray: #363836;

//font weight
$extraBold: 900;
$bold: 700;
$regular: 500;

//media query breakpoints
$desktopLg: 1366px;
$mobile: 425px;
