@import './keyframes';
@import './buttons';
@import './desktop';
@import './mobile';
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;700;900&display=swap');

//reset default rules
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Work Sans', sans-serif;
}
